  <aside class="main-sidebar" style="width: 150px;">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
         <li>
          <a href="/docview/get_started">
            <i class="fa fa-th"></i> <span style="width: 120px;">Get Start</span>
          </a>
        </li>
		<li>
          <a href="/project/private">
            <i class="fa fa-th"></i> <span style="width: 120px;">My Project</span>
          </a>
        </li>
          <li>
          <a href="/project/example">
            <i class="fa fa-th"></i> <span style="width: 120px;">Example Project</span>
          </a>
        </li>
          <li>
          <a href="/docview/video">
            <i class="fa fa-th"></i> <span style="width: 120px;">Example Video</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>